body {
    margin: 0px;
}
#page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header {
    top: 0;
    left: 0;
    padding: 8px;
    background-color: #a6b8c7;
    border-color: #00060b;
    border: 1px solid;
    margin: 5px;
}

#infocontainer {
    position: absolute;
    background-color: #eee;
    width: 50%; /* don't let the popup occlude the entire graph */
    overflow: scroll;
}

#closeinfocontainer {
    cursor: pointer;
}

#contents {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    flex-grow: 1;
}

#svgcontainer {
    flex-grow: 1;
}

#eventlist {
    min-width: 25%;
    max-width: 25%;
    border: 1px solid;
    border-color: #00060b;
    margin: 5px;
    overflow-y: scroll;
}

.eventlistrow {
    display: flex;
    border-bottom: 1px solid;
    border-color: #00060b;
}

.eventlistrowprefix {
    padding: 5px;
    cursor: pointer;
}
.eventlistrowjson {
    padding: 5px;
    cursor: pointer;
    text-wrap: nowrap;
}
.eventlistrowprefix:hover {
    background-color: #eee;
    border: 1px solid;
    padding: 4px;
}
.eventlistroweventid {
    padding: 5px;
    text-wrap: nowrap;
}

.eventlistrowbody {
    overflow: scroll;
    white-space: nowrap;
    padding: 5px;
}

input {
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
}
div {
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
}
body {
    height: 100%;
}
.monospace {
    font-family: "Lucida Console", Courier, monospace;
}