body {
    margin: 0px;
}
#page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header {
    top: 0;
    left: 0;
    padding: 8px;
    background-color: #a6b8c7;
    border: 1px solid #00060b;
    margin: 5px;
    display: flex;
}

#infocontainer {
    position: absolute;
    background-color: #eee;
    width: 50%; /* don't let the popup occlude the entire graph */
    overflow: scroll;
}

#closeinfocontainer {
    cursor: pointer;
}

#contents {
    display: flex;
    /* 
     * this makes firefox center-justify the contents and hide it when the svg is wide
     * and don't hide the overflow when the svg is wide
     */
    /* justify-content: space-around; */
    /* overflow: hidden; */
    flex-grow: 1;
}

#svgcontainer {
    flex-grow: 1;
}

#eventlist {
    min-width: 25%;
    max-width: 25%;
    border: 1px solid;
    border-color: #00060b;
    margin: 5px;
    overflow-y: scroll;
}

.eventlistrow {
    display: flex;
    border-bottom: 1px solid;
    border-color: #00060b;
    cursor: pointer;
}
.eventlistrow:hover {
    background-color: #a6b8c7;
}

.eventlistrowprefix {
    padding: 5px;
}
.eventlistrowjson {
    padding: 5px;
    cursor: pointer;
    text-wrap: nowrap;
}
.eventlistroweventid {
    padding: 5px;
    text-wrap: nowrap;
}

.eventlistrowbody {
    overflow: scroll;
    white-space: nowrap;
    padding: 5px;
    flex-grow: 1;
}

.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    margin: 0 10 0 10;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.node-text {
    font-family: Gill Sans, Calibri, sans-serif;
}
input {
    font-family: Gill Sans, Calibri, sans-serif;
}
div {
    font-family: Gill Sans, Calibri, sans-serif;
}
body {
    height: 100%;
}
.monospace {
    font-family: "Lucida Console", Courier, monospace;
}
